# misc
*.DS_Store

# SVN
.svn
*.svn

# C/C++ binaries
*.lib
*.obj
*.idb
*.pdb
*.lib
*.dll
*.o
*.o.d
*.org
# *.so
*.a
gdb.setup
gdbserver

# MSVC
*.exe
*.ilk
*.manifest
*.user
*.ncb
*.suo
*.exp
*.dep

*.res

Debug/

# Ethanon files

*.log.txt
*.log
*.bin
*.bin.txt
game.bin.readme.txt
AS_DEBUG/
data/
shaders/
ethf.user.data
obj/
